import library pandas, numpy

In [17]:
import pandas as pd
import numpy as np

read the wikipedia link using pandas

In [18]:
list=pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

select the first dataframe because this is the table we are working on

In [19]:
df1=list[0]

Review our dataframe

In [20]:
df1.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

create a new dataframe which remove all "Not assigned" lines in column "Borough"

In [21]:
df_canada=df1[~df1['Borough'].str.contains('Not assigned')]

reset index

In [22]:
df_canada.reset_index(drop=True,inplace=True)

check the shape of current dataframe

In [23]:
df_canada.shape

(210, 3)

check total row

In [24]:
len(df_canada.index)

210

Replace all 'Not assigned' value in column Neighbourhood and replace with the value in Borough

In [25]:
for i in range (len(df_canada.index)):
    if df_canada['Neighbourhood'][i]==('Not assigned'):
        df_canada.replace(df_canada.loc[i,['Neighbourhood']],df_canada['Borough'][i],inplace=True)

Review our dataframe

In [26]:
df_canada.head(7)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A  Downtown Toronto      Queen's Park
6      M9A      Queen's Park      Queen's Park

we may not need this but let sort column Postcode so every double, triple value are in continuous. And reset index

In [27]:
df_canada2=df_canada.sort_values(by=['Postcode'])
df_canada2.reset_index(drop=True,inplace=True)

Join Neighbourhood with same Postcode

In [28]:
join_sign=' , '
for i in range(1,len(df_canada.index)):
    if df_canada2['Postcode'][i]==df_canada2['Postcode'][i-1]:
        df_canada2.replace(df_canada2['Neighbourhood'][i],
                          join_sign.join([df_canada2['Neighbourhood'][i],df_canada2['Neighbourhood'][i-1]]),
                          inplace=True)

Review dataframe

In [29]:
df_canada2.head(11)

   Postcode      Borough                             Neighbourhood
0       M1B  Scarborough                                     Rouge
1       M1B  Scarborough                           Malvern , Rouge
2       M1C  Scarborough                                Port Union
3       M1C  Scarborough                   Rouge Hill , Port Union
4       M1C  Scarborough  Highland Creek , Rouge Hill , Port Union
5       M1E  Scarborough                                 Guildwood
6       M1E  Scarborough                   Morningside , Guildwood
7       M1E  Scarborough       West Hill , Morningside , Guildwood
8       M1G  Scarborough                                    Woburn
9       M1H  Scarborough                                 Cedarbrae
10      M1J  Scarborough                       Scarborough Village

Drop double postcode value

In [30]:
for i in range(0,len(df_canada2.index)-1):
    if df_canada2['Postcode'][i]==df_canada2['Postcode'][i+1]:
        df_canada2.drop([i],inplace=True)

view our final dataframe

In [31]:
df_canada2.head(11)

   Postcode      Borough                                      Neighbourhood
1       M1B  Scarborough                                    Malvern , Rouge
4       M1C  Scarborough           Highland Creek , Rouge Hill , Port Union
7       M1E  Scarborough                West Hill , Morningside , Guildwood
8       M1G  Scarborough                                             Woburn
9       M1H  Scarborough                                          Cedarbrae
10      M1J  Scarborough                                Scarborough Village
13      M1K  Scarborough      Kennedy Park , Ionview , East Birchmount Park
16      M1L  Scarborough                  Clairlea , Oakridge , Golden Mile
19      M1M  Scarborough  Cliffside , Scarborough Village West , Cliffcrest
21      M1N  Scarborough                       Birch Cliff , Cliffside West
24      M1P  Scarborough  Scarborough Town Centre , Dorset Park , Wexfor...

check the shape of the final dataframe

In [32]:
df_canada2.shape

(103, 3)