import library pandas, numpy

In [17]:
import pandas as pd
import numpy as np

read the wikipedia link using pandas

In [18]:
list=pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

select the first dataframe because this is the table we are working on

In [19]:
df1=list[0]

Review our dataframe

In [20]:
df1.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

create a new dataframe which remove all "Not assigned" lines in column "Borough"

In [21]:
df_canada=df1[~df1['Borough'].str.contains('Not assigned')]

reset index

In [22]:
df_canada.reset_index(drop=True,inplace=True)

check the shape of current dataframe

In [23]:
df_canada.shape

(210, 3)

check total row

In [24]:
len(df_canada.index)

210

Replace all 'Not assigned' value in column Neighbourhood and replace with the value in Borough

In [25]:
for i in range (len(df_canada.index)):
    if df_canada['Neighbourhood'][i]==('Not assigned'):
        df_canada.replace(df_canada.loc[i,['Neighbourhood']],df_canada['Borough'][i],inplace=True)

Review our dataframe

In [26]:
df_canada.head(7)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A  Downtown Toronto      Queen's Park
6      M9A      Queen's Park      Queen's Park

we may not need this but let sort column Postcode so every double, triple value are in continuous. And reset index

In [27]:
df_canada2=df_canada.sort_values(by=['Postcode'])
df_canada2.reset_index(drop=True,inplace=True)

Join Neighbourhood with same Postcode

In [28]:
join_sign=' , '
for i in range(1,len(df_canada.index)):
    if df_canada2['Postcode'][i]==df_canada2['Postcode'][i-1]:
        df_canada2.replace(df_canada2['Neighbourhood'][i],
                          join_sign.join([df_canada2['Neighbourhood'][i],df_canada2['Neighbourhood'][i-1]]),
                          inplace=True)

Review dataframe

In [29]:
df_canada2.head(11)

   Postcode      Borough                             Neighbourhood
0       M1B  Scarborough                                     Rouge
1       M1B  Scarborough                           Malvern , Rouge
2       M1C  Scarborough                                Port Union
3       M1C  Scarborough                   Rouge Hill , Port Union
4       M1C  Scarborough  Highland Creek , Rouge Hill , Port Union
5       M1E  Scarborough                                 Guildwood
6       M1E  Scarborough                   Morningside , Guildwood
7       M1E  Scarborough       West Hill , Morningside , Guildwood
8       M1G  Scarborough                                    Woburn
9       M1H  Scarborough                                 Cedarbrae
10      M1J  Scarborough                       Scarborough Village

Drop double postcode value

In [30]:
for i in range(0,len(df_canada2.index)-1):
    if df_canada2['Postcode'][i]==df_canada2['Postcode'][i+1]:
        df_canada2.drop([i],inplace=True)

view our final dataframe

In [33]:
df_canada2.reset_index(drop=True,inplace=True)
df_canada2.head(11)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                    Malvern , Rouge
1       M1C  Scarborough           Highland Creek , Rouge Hill , Port Union
2       M1E  Scarborough                West Hill , Morningside , Guildwood
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough      Kennedy Park , Ionview , East Birchmount Park
7       M1L  Scarborough                  Clairlea , Oakridge , Golden Mile
8       M1M  Scarborough  Cliffside , Scarborough Village West , Cliffcrest
9       M1N  Scarborough                       Birch Cliff , Cliffside West
10      M1P  Scarborough  Scarborough Town Centre , Dorset Park , Wexfor...

check the shape of the final dataframe

In [34]:
df_canada2.shape

(103, 3)

read geo data

In [40]:
df_geo=pd.read_csv('https://cocl.us/Geospatial_data')

review geo dataframe

In [42]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Create new data from dataframe canada and geo

In [45]:
df_canada_geo=pd.merge(df_canada2,df_geo,how='left',left_on='Postcode',right_on='Postal Code')

In [47]:
df_canada_geo.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek , Rouge Hill , Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"West Hill , Morningside , Guildwood",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [55]:
df_final=df_canada_geo[['Postcode','Borough','Neighbourhood','Latitude','Longitude']]
df_final.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek , Rouge Hill , Port Union",43.784535,-79.160497
2,M1E,Scarborough,"West Hill , Morningside , Guildwood",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

dataframe of Borough 'Toronto'

In [65]:
df_toronto=df_final[df_final['Borough'].str.contains('Toronto')]
df_toronto.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
41,M4K,East Toronto,"The Danforth West , Riverdale",43.679557,-79.352188
42,M4L,East Toronto,"India Bazaar , The Beaches West",43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790